---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/slotaj/git-curious/commits?access_token=31dc51f0df9eba1e8d589b63873fd5b9c6c7d92a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '1455833667'
      Last-Modified:
      - Thu, 18 Feb 2016 20:32:09 GMT
      Etag:
      - W/"9b98a6c53b86eafefe8132164b957a5b"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 64aeece7d4315d632c39
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"4bb56ca3fa3732aec417e9ac8a8d3a8ae1b6face","commit":{"author":{"name":"John
        Slota","email":"john.slota@gmail.com","date":"2016-02-18T20:32:09Z"},"committer":{"name":"John
        Slota","email":"john.slota@gmail.com","date":"2016-02-18T20:32:09Z"},"message":"all
        faraday endpoints being tested","tree":{"sha":"935b147c30dd1488f3d44b0250159c71797dde82","url":"https://api.github.com/repos/slotaj/git-curious/git/trees/935b147c30dd1488f3d44b0250159c71797dde82"},"url":"https://api.github.com/repos/slotaj/git-curious/git/commits/4bb56ca3fa3732aec417e9ac8a8d3a8ae1b6face","comment_count":0},"url":"https://api.github.com/repos/slotaj/git-curious/commits/4bb56ca3fa3732aec417e9ac8a8d3a8ae1b6face","html_url":"https://github.com/slotaj/git-curious/commit/4bb56ca3fa3732aec417e9ac8a8d3a8ae1b6face","comments_url":"https://api.github.com/repos/slotaj/git-curious/commits/4bb56ca3fa3732aec417e9ac8a8d3a8ae1b6face/comments","author":{"login":"slotaj","id":12905774,"avatar_url":"https://avatars.githubusercontent.com/u/12905774?v=3","gravatar_id":"","url":"https://api.github.com/users/slotaj","html_url":"https://github.com/slotaj","followers_url":"https://api.github.com/users/slotaj/followers","following_url":"https://api.github.com/users/slotaj/following{/other_user}","gists_url":"https://api.github.com/users/slotaj/gists{/gist_id}","starred_url":"https://api.github.com/users/slotaj/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/slotaj/subscriptions","organizations_url":"https://api.github.com/users/slotaj/orgs","repos_url":"https://api.github.com/users/slotaj/repos","events_url":"https://api.github.com/users/slotaj/events{/privacy}","received_events_url":"https://api.github.com/users/slotaj/received_events","type":"User","site_admin":false},"committer":{"login":"slotaj","id":12905774,"avatar_url":"https://avatars.githubusercontent.com/u/12905774?v=3","gravatar_id":"","url":"https://api.github.com/users/slotaj","html_url":"https://github.com/slotaj","followers_url":"https://api.github.com/users/slotaj/followers","following_url":"https://api.github.com/users/slotaj/following{/other_user}","gists_url":"https://api.github.com/users/slotaj/gists{/gist_id}","starred_url":"https://api.github.com/users/slotaj/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/slotaj/subscriptions","organizations_url":"https://api.github.com/users/slotaj/orgs","repos_url":"https://api.github.com/users/slotaj/repos","events_url":"https://api.github.com/users/slotaj/events{/privacy}","received_events_url":"https://api.github.com/users/slotaj/received_events","type":"User","site_admin":false},"parents":[{"sha":"db832fc9fde25e2989218abeb88e0e1be9689ec4","url":"https://api.github.com/repos/slotaj/git-curious/commits/db832fc9fde25e2989218abeb88e0e1be9689ec4","html_url":"https://github.com/slotaj/git-curious/commit/db832fc9fde25e2989218abeb88e0e1be9689ec4"}]},{"sha":"db832fc9fde25e2989218abeb88e0e1be9689ec4","commit":{"author":{"name":"John
        Slota","email":"john.slota@gmail.com","date":"2016-02-18T03:59:22Z"},"committer":{"name":"John
        Slota","email":"john.slota@gmail.com","date":"20[...]
