---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/slotaj/received_events?access_token=31dc51f0df9eba1e8d589b63873fd5b9c6c7d92a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4922'
      X-Ratelimit-Reset:
      - '1455830053'
      Last-Modified:
      - Thu, 18 Feb 2016 09:09:54 GMT
      Etag:
      - W/"247b69bdc904509ed47750e7972401f1"
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 64aeece7d4315d632c39
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/12905774/received_events?access_token=31dc51f0df9eba1e8d589b63873fd5b9c6c7d92a&page=2>;
        rel="next", <https://api.github.com/user/12905774/received_events?access_token=31dc51f0df9eba1e8d589b63873fd5b9c6c7d92a&page=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"3660820517","type":"CreateEvent","actor":{"id":9837366,"login":"selfup","gravatar_id":"","url":"https://api.github.com/users/selfup","avatar_url":"https://avatars.githubusercontent.com/u/9837366?"},"repo":{"id":52024058,"name":"selfup/PHPOne","url":"https://api.github.com/repos/selfup/PHPOne"},"payload":{"ref":null,"ref_type":"repository","master_branch":"master","description":"Learning
        PHP?","pusher_type":"user"},"public":true,"created_at":"2016-02-18T17:09:54Z"},{"id":"3660422145","type":"PushEvent","actor":{"id":15182411,"login":"patrickwhardy","gravatar_id":"","url":"https://api.github.com/users/patrickwhardy","avatar_url":"https://avatars.githubusercontent.com/u/15182411?"},"repo":{"id":51007857,"name":"slotaj/posse_challenges","url":"https://api.github.com/repos/slotaj/posse_challenges"},"payload":{"push_id":983240213,"size":1,"distinct_size":1,"ref":"refs/heads/master","head":"e597bc5ed2509e99736b6b9d566e7877460bbee7","before":"f8969ca2d5e7a94dc098738d82e0e4a7e5951cd8","commits":[{"sha":"e597bc5ed2509e99736b6b9d566e7877460bbee7","author":{"email":"patrickwhardy@gmail.com","name":"patrickwhardy"},"message":"finished","distinct":true,"url":"https://api.github.com/repos/slotaj/posse_challenges/commits/e597bc5ed2509e99736b6b9d566e7877460bbee7"}]},"public":true,"created_at":"2016-02-18T15:53:41Z"},{"id":"3656866262","type":"CreateEvent","actor":{"id":3011748,"login":"mikedao","gravatar_id":"","url":"https://api.github.com/users/mikedao","avatar_url":"https://avatars.githubusercontent.com/u/3011748?"},"repo":{"id":51956629,"name":"mikedao/elixir","url":"https://api.github.com/repos/mikedao/elixir"},"payload":{"ref":null,"ref_type":"repository","master_branch":"master","description":"","pusher_type":"user"},"public":true,"created_at":"2016-02-17T21:28:12Z"},{"id":"3655976881","type":"ForkEvent","actor":{"id":8861750,"login":"toriejw","gravatar_id":"","url":"https://api.github.com/users/toriejw","avatar_url":"https://avatars.githubusercontent.com/u/8861750?"},"repo":{"id":45863177,"name":"roseak/podlist","url":"https://api.github.com/repos/roseak/podlist"},"payload":{"forkee":{"id":51943781,"name":"podlist","full_name":"toriejw/podlist","owner":{"login":"toriejw","id":8861750,"avatar_url":"https://avatars.githubusercontent.com/u/8861750?v=3","gravatar_id":"","url":"https://api.github.com/users/toriejw","html_url":"https://github.com/toriejw","followers_url":"https://api.github.com/users/toriejw/followers","following_url":"https://api.github.com/users/toriejw/following{/other_user}","gists_url":"https://api.github.com/users/toriejw/gists{/gist_id}","starred_url":"https://api.github.com/users/toriejw/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/toriejw/subscriptions","organizations_url":"https://api.github.com/users/toriejw/orgs","repos_url":"https://api.github.com/users/toriejw/repos","events_url":"https://api.github.com/users/toriejw/events{/privacy}","received_events_url":"https://api.github.com/users/toriejw/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/toriejw/podlist","description":"","fork":true,"url":"https://api.github.com/repos/toriejw/podlist","forks_url":"https://api.github.com/repos/toriejw/podlist/forks","keys_url":"https://api.github.com/repos/toriejw/podlist/keys{/key_id}","collaborators_url":"https://api.github.com/repos/toriejw/podlist/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/toriejw/podlist/teams","hooks_url":"https://api.github.com/repos/toriejw/podlist/hooks","issue_events_url":"https://api.github.com/repos/toriejw/podlist/issues/events{/number}","events_url":"https://api.github.com/repos/toriejw/podlist/events","assignees_url":"https://api.github.com/repos/toriejw/podlist/assignees{/user}","branches_url":"https://api.github.com/repos/toriejw/podlist/branches{/branch}","tags_url":"https://api.github.com/repos/toriejw/podlist/tags","blobs_url":"https://api.github.com/repos/toriejw/podlist/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/toriejw/podlist/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/toriejw/podlist/git/refs{/sha}","trees_url":"https://api.github.com/repos/toriejw/podlist/git/trees{/sha}","statuses_url":"https://api.github.com/repos/toriejw/podlist/statuses/{sha}","languages_url":"https://api.github.com/repos/toriejw/podlist/languages","stargazers_url":"https://api.github.com/repos/toriejw/podlist/stargazers","contributors_url":"https://api.github.com/repos/toriejw/podlist/contributors","subscribers_url":"https://api.github.com/repos/toriejw/podlist/subscribers","subscription_url":"https://api.github.com/repos/toriejw/podlist/subscription","commits_url":"https://api.github.com/repos/toriejw/podlist/commits{/sha}","git_commits_url":"https://api.github.com/repos/toriejw/podlist/git/commits{/sha}","comments_url":"https://api.github.com/repos/toriejw/podlist/comments{/number}","issue_comment_url":"https://api.github.com/repos/toriejw/podlist/issues/comments{/number}","contents_url":"https://api.github.com/repos/toriejw/podlist/contents/{+path}","compare_url":"https://api.github.com/repos/toriejw/podlist/compare/{base}...{head}","merges_url":"https://api.github.com/repos/toriejw/podlist/merges","archive_url":"https://api.github.com/repos/toriejw/podlist/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/toriejw/podlist/downloads","issues_url":"https://api.github.com/repos/toriejw/podlist/issues{/number}","pulls_url":"https://api.github.com/repos/toriejw/podlist/pulls{/number}","milestones_url":"https://api.github.com/repos/toriejw/podlist/milestones{/number}","notifications_url":"https://api.github.com/repos/toriejw/podlist/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/toriejw/podlist/labels{/name}","releases_url":"https://api.github.com/repos/toriejw/podlist/releases{/id}","deployments_url":"https://api.github.com/repos/toriejw/podlist/deployments","created_at":"2016-02-17T18:08:44Z","updated_at":"2015-11-19T03:35:51Z","pushed_at":"2016-01-04T02:02:39Z","git_url":"git://github.com/toriejw/podlist.git","ssh_url":"git@github.com:toriejw/podlist.git","clone_url":"https://github.com/toriejw/podlist.git","svn_url":"https://github.com/toriejw/podlist","homepage":null,"size":986,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","public":true}},"public":true,"created_at":"2016-02-17T18:08:44Z"},{"id":"3655837585","type":"CreateEvent","actor":{"id":11447286,"login":"NicoleHall","gravatar_id":"","url":"https://api.github.com/users/NicoleHall","avatar_url":"https://avatars.githubusercontent.com/u/11447286?"},"repo":{"id":51941797,"name":"NicoleHall/consuming_chaims","url":"https://api.github.com/repos/NicoleHall/consuming_chaims"},"payload":{"ref":null,"ref_type":"repository","master_branch":"master","description":"","pusher_type":"user"},"public":true,"created_at":"2016-02-17T17:37:33Z"},{"id":"3655778296","type":"MemberEvent","actor":{"id":13652979,"login":"weilandia","gravatar_id":"","url":"https://api.github.com/users/weilandia","avatar_url":"https://avatars.githubusercontent.com/u/13652979?"},"repo":{"id":50916524,"name":"weilandia/goldberg_posse_challenges","url":"https://api.github.com/repos/weilandia/goldberg_posse_challenges"},"payload":{"member":{"login":"NicoleHall","id":11447286,"avatar_url":"https://avatars.githubusercontent.com/u/11447286?v=3","gravatar_id":"","url":"https://api.github.com/users/NicoleHall","html_url":"https://github.com/NicoleHall","followers_url":"https://api.github.com/users/NicoleHall/followers","following_url":"https://api.github.com/users/NicoleHall/following{/other_user}","gists_url":"https://api.github.com/users/NicoleHall/gists{/gist_id}","starred_url":"https://api.github.com/users/NicoleHall/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/NicoleHall/subscriptions","organizations_url":"https://api.github.com/users/NicoleHall/orgs","repos_url":"https://api.github.com/users/NicoleHall/repos","events_url":"https://api.github.com/users/NicoleHall/events{/privacy}","received_events_url":"https://api.github.com/users/NicoleHall/received_events","type":"User","site_admin":false},"action":"added"},"public":true,"created_at":"2016-02-17T17:24:38Z"},{"id":"3654895790","type":"WatchEvent","actor":{"id":10964923,"login":"PenneyGadget","gravatar_id":"","url":"https://api.github.com/users/PenneyGadget","avatar_url":"https://avatars.githubusercontent.com/u/10964923?"},"repo":{"id":51862390,"name":"turingschool/environment_variables","url":"https://api.github.com/repos/turingschool/environment_variables"},"payload":{"action":"started"},"public":true,"created_at":"2016-02-17T14:30:53Z","org":{"id":7934292,"login":"turingschool","gravatar_id":"","url":"https://api.github.com/orgs/turingschool","avatar_url":"https://avatars.githubusercontent.com/u/7934292?"}},{"id":"3652372924","type":"ForkEvent","actor":{"id":11931899,"login":"tjkomor","gravatar_id":"","url":"https://api.github.com/users/tjkomor","avatar_url":"https://avatars.githubusercontent.com/u/11931899?"},"repo":{"id":51394311,"name":"jillmd501/Rakes-on-a-Plane-JS","url":"https://api.github.com/repos/jillmd501/Rakes-on-a-Plane-[...]
