---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=31dc51f0df9eba1e8d589b63873fd5b9c6c7d92a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4944'
      X-Ratelimit-Reset:
      - '1455843696'
      Etag:
      - W/"efb526a5e513146aca4292da3db6237f"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 64aeece7d4315d632c39
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"jcasimir","id":43102,"avatar_url":"https://avatars.githubusercontent.com/u/43102?v=3","gravatar_id":"","url":"https://api.github.com/users/jcasimir","html_url":"https://github.com/jcasimir","followers_url":"https://api.github.com/users/jcasimir/followers","following_url":"https://api.github.com/users/jcasimir/following{/other_user}","gists_url":"https://api.github.com/users/jcasimir/gists{/gist_id}","starred_url":"https://api.github.com/users/jcasimir/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jcasimir/subscriptions","organizations_url":"https://api.github.com/users/jcasimir/orgs","repos_url":"https://api.github.com/users/jcasimir/repos","events_url":"https://api.github.com/users/jcasimir/events{/privacy}","received_events_url":"https://api.github.com/users/jcasimir/received_events","type":"User","site_admin":false},{"login":"NYDrewReynolds","id":2224702,"avatar_url":"https://avatars.githubusercontent.com/u/2224702?v=3","gravatar_id":"","url":"https://api.github.com/users/NYDrewReynolds","html_url":"https://github.com/NYDrewReynolds","followers_url":"https://api.github.com/users/NYDrewReynolds/followers","following_url":"https://api.github.com/users/NYDrewReynolds/following{/other_user}","gists_url":"https://api.github.com/users/NYDrewReynolds/gists{/gist_id}","starred_url":"https://api.github.com/us[...]
