---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=31dc51f0df9eba1e8d589b63873fd5b9c6c7d92a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4879'
      X-Ratelimit-Reset:
      - '1455830053'
      Etag:
      - W/"49f13acd1f9eedd77aa4e12b08235018"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 64aeece7d4315d632c39
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"amcrawford","id":11097011,"avatar_url":"https://avatars.githubusercontent.com/u/11097011?v=3","gravatar_id":"","url":"https://api.github.com/users/amcrawford","html_url":"https://github.com/amcrawford","followers_url":"https://api.github.com/users/amcrawford/followers","following_url":"https://api.github.com/users/amcrawford/following{/other_user}","gists_url":"https://api.github.com/users/amcrawford/gists{/gist_id}","starred_url":"https://api.github.com/users/amcrawford/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/amcrawford/subscriptions","organizations_url":"https://api.github.com/users/amcrawford/orgs","repos_url":"https://api.github.com/users/amcrawford/repos","events_url":"https://api.github.com/users/amcrawford/events{/privacy}","received_events_url":"https://api.github.com/users/amcrawford/received_events","type":"User","site_admin":false},{"login":"edgarduran","id":11325650,"avatar_url":"https://avatars.githubusercontent.com/u/11325650?v=3","gravatar_id":"","url":"https://api.github.com/users/edgarduran","html_url":"https://github.com/edgarduran","followers_url":"https://api.github.com/users/edgarduran/followers","following_url":"https://api.github.com/users/edgarduran/following{/other_user}","gists_url":"https://api.github.com/users/edgarduran/gists{/gist_id}","starred_url":"https://api.github.com/users/edgarduran/starred[...]
