---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/slotaj/orgs?access_token=31dc51f0df9eba1e8d589b63873fd5b9c6c7d92a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4955'
      X-Ratelimit-Reset:
      - '1455843696'
      Etag:
      - W/"6c97804ab70092961d73e9bfedb4340e"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 64aeece7d4315d632c39
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"team-slota","id":17324366,"url":"https://api.github.com/orgs/team-slota","repos_url":"https://api.github.com/orgs/team-slota/repos","events_url":"https://api.github.com/orgs/team-slota/events","hooks_url":"https://api.github.com/orgs/team-slota/hooks","issues_url":"https://api.github.com/orgs/team-slota/issues","members_url":"https://api.github.com/orgs/team-slota/members{/member}","public_members_url":"https://api.github.com/orgs/team-slota/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/17324366?v=3","description":null}]'
  recorded_at: Fri, 19 Feb 2016 00:07:41 GMT
recorded_with: VCR 3.0.1
