---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=31dc51f0df9eba1e8d589b63873fd5b9c6c7d92a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1455820503'
      Etag:
      - W/"40df4b3f4d8e16ff286cb594b99306de"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 64aeece7d4315d632c39
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/repos?access_token=31dc51f0df9eba1e8d589b63873fd5b9c6c7d92a&page=2>;
        rel="next", <https://api.github.com/user/repos?access_token=31dc51f0df9eba1e8d589b63873fd5b9c6c7d92a&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":45855371,"name":"slota-shop","full_name":"amcrawford/slota-shop","owner":{"login":"amcrawford","id":11097011,"avatar_url":"https://avatars.githubusercontent.com/u/11097011?v=3","gravatar_id":"","url":"https://api.github.com/users/amcrawford","html_url":"https://github.com/amcrawford","followers_url":"https://api.github.com/users/amcrawford/followers","following_url":"https://api.github.com/users/amcrawford/following{/other_user}","gists_url":"https://api.github.com/users/amcrawford/gists{/gist_id}","starred_url":"https://api.github.com/users/amcrawford/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/amcrawford/subscriptions","organizations_url":"https://api.github.com/users/amcrawford/orgs","repos_url":"https://api.github.com/users/amcrawford/repos","events_url":"https://api.github.com/users/amcrawford/events{/privacy}","received_events_url":"https://api.github.com/users/amcrawford/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/amcrawford/slota-shop","description":"E-Commerce
        Application","fork":false,"url":"https://api.github.com/repos/amcrawford/slota-shop","forks_url":"https://api.github.com/repos/amcrawford/slota-shop/forks","keys_url":"https://api.github.com/repos/amcrawford/slota-shop/keys{/key_id}","collaborators_url":"https://api.github.com/repos/amcrawford/slota-shop/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/amcrawford/slota-shop/teams","hooks_url":"https://api.github.com/repos/amcrawford/slota-shop/hooks","issue_events_url":"https://api.github.com/repos/amcrawford/slota-shop/issues/events{/number}","events_url":"https://api.github.com/repos/amcrawford/slota-shop/events","assignees_url":"https://api.github.com/repos/amcrawford/slota-shop/assignees{/user}","branches_url":"https://api.github.com/repos/amcrawford/slota-shop/branches{/branch}","tags_url":"https://api.github.com/repos/amcrawford/slota-shop/tags","blobs_url":"https://api.github.com/repos/amcrawford/slota-shop/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/amcrawford/slota-shop/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/amcrawford/slota-shop/git/refs{/sha}","trees_url":"https://api.github.com/repos/amcrawford/slota-shop/git/trees{/sha}","statuses_url":"https://api.github.com/repos/amcrawford/slota-shop/statuses/{sha}","languages_url":"https://api.github.com/repos/amcrawford/slota-shop/languages","stargazers_url":"https://api.github.com/repos/amcrawford/slota-shop/stargazers","contributors_url":"https://api.github.com/repos/amcrawford/slota-shop/contributors","subscribers_url":"https://api.github.com/repos/amcrawford/slota-shop/subscribers","subscription_url":"https://api.github.com/repos/amcrawford/slota-shop/subscription","commits_url":"https://api.github.com/repos/amcrawford/slota-shop/commits{/sha}","git_commits_url":"https://api.github.com/repos/amcrawford/slota-shop/git/commits{/sha}","comments_url":"https://api.github.com/repos/amcrawford/slota-shop/comments{/number}","issue_comment_url":"https://api.github.com/repos/amcrawford/slota-shop/issues/comments{/number}","contents_url":"https://api.github.com/repos/amcrawford/slota-shop/contents/{+path}","compare_url":"https://api.github.com/repos/amcrawford/slota-shop/compare/{base}...{head}","merges_url":"https://api.github.com/repos/amcrawford/slota-shop/merges","archive_url":"https://api.github.com/repos/amcrawford/slota-shop/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/amcrawford/slota-shop/downloads","issues_url":"https://api.github.com/repos/amcrawford/slota-shop/issues{/number}","pulls_url":"https://api.github.com/repos/amcrawford/slota-shop/pulls{/number}","milestones_url":"https://api.github.com/repos/amcrawford/slota-shop/milestones{/number}","notifications_url":"https://api.github.com/repos/amcrawford/slota-shop/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/amcrawford/slota-shop/labels{/name}","releases_url":"https://api.github.com/repos/amcrawford/slota-shop/releases{/id}","deployments_url":"https://api.github.com/repos/amcrawford/slota-shop/deployments","created_at":"2015-11-09T17:42:58Z","updated_at":"2016-02-05T13:37:21Z","pushed_at":"2016-02-06T01:58:41Z","git_url":"git://github.com/amcrawford/slota-shop.git","ssh_url":"git@github.com:amcrawford/slota-shop.git","clone_url":"https://github.com/amcrawford/slota-shop.git","svn_url":"https://github.com/amcrawford/slota-shop","homepage":"","size":2920,"stargazers_count":2,"watchers_count":2,"language":"JavaScript","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"open_issues_count":2,"forks":1,"open_issues":2,"watchers":2,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":43783670,"name":"workflow_practice","full_name":"Carmer/workflow_practice","owner":{"login":"Carmer","id":9501766,"avatar_url":"https://avatars.githubusercontent.com/u/9501766?v=3","gravatar_id":"","url":"https://api.github.com/users/Carmer","html_url":"https://github.com/Carmer","followers_url":"https://api.github.com/users/Carmer/followers","following_url":"https://api.github.com/users/Carmer/following{/other_user}","gists_url":"https://api.github.com/users/Carmer/gists{/gist_id}"[...]
