---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/starred?access_token=31dc51f0df9eba1e8d589b63873fd5b9c6c7d92a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '1455830053'
      Etag:
      - W/"072ad603181d95d62d402afce4c631c8"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 64aeece7d4315d632c39
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"id":43780424,"name":"gitcommit","full_name":"bad6e/gitcommit","owner":{"login":"bad6e","id":10092063,"avatar_url":"https://avatars.githubusercontent.com/u/10092063?v=3","gravatar_id":"","url":"https://api.github.com/users/bad6e","html_url":"https://github.com/bad6e","followers_url":"https://api.github.com/users/bad6e/followers","following_url":"https://api.github.com/users/bad6e/following{/other_user}","gists_url":"https://api.github.com/users/bad6e/gists{/gist_id}","starred_url":"https://api.github.com/users/bad6e/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bad6e/subscriptions","organizations_url":"https://api.github.com/users/bad6e/orgs","repos_url":"https://api.github.com/users/bad6e/repos","events_url":"https://api.github.com/users/bad6e/events{/privacy}","received_events_url":"https://api.github.com/users/bad6e/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/bad6e/gitcommit","description":"A
        fun tool using Nokogiri and the Github API to track git commits  ","fork":false,"url":"https://api.github.com/repos/bad6e/gitcommit","forks_url":"https://api.github.com/repos/bad6e/gitcommit/forks","keys_url":"https://api.github.com/repos/bad6e/gitcommit/keys{/key_id}","collaborators_url":"https://api.github.com/repos/bad6e/gitcommit/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/bad6e/gitcommit/teams","hooks_url":"https://api.github.com/repos/bad6e/gitcommit/hooks","issue_events_url":"https://api.github.com/repos/bad6e/gitcommit/issues/events{/number}","events_url":"https://api.github.com/repos/bad6e/gitcommit/events","assignees_url":"https://api.github.com/repos/bad6e/gitcommit/assignees{/user}","branches_url":"https://api.github.com/repos/bad6e/gitcommit/branches{/branch}","tags_url":"https://api.github.com/repos/bad6e/gitcommit/tags","blobs_url":"https://api.github.com/repos/bad6e/gitcommit/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/bad6e/gitcommit/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/bad6e/gitcommit/git/refs{/sha}","trees_url":"https://api.github.com/repos/bad6e/gitcommit/git/trees{/sha}","statuses_url":"https://api.github.com/repos/bad6e/gitcommit/statuses/{sha}","languages_url":"https://api.github.com/repos/bad6e/gitcommit/languages","stargazers_url":"https://api.github.com/repos/bad6e/gitcommit/stargazers","contributors_url":"https://api.github.com/repos/bad6e/gitcommit/contributors","subscribers_url":"https://api.github.com/repos/bad6e/gitcommit/subscribers","subscription_url":"https://api.github.com/repos/bad6e/gitcommit/subscription","commits_url":"https://api.github.com/repos/bad6e/gitcommit/commits{/sha}","git_commits_url":"https://api.github.com/repos/bad6e/gitcommit/git/commits{/sha}","comments_url":"https://api.github.com/repos/bad6e/gitcommit/comments{/number}","issue_comment_url":"https://api.github.com/repos/bad6e/gitcommit/issues/comments{/number}","contents_url":"https://api.github.com/repos/bad6e/gitcommit/contents/{+path}","compare_url":"https://api.github.com/repos/bad6e/gitcommit/compare/{base}...{head}","merges_url":"https://api.github.com/repos/bad6e/gitcommit/merges","archive_url":"https://api.github.com/repos/bad6e/gitcommit/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/bad6e/gitcommit/downloads","issues_url":"https://api.github.com/repos/bad6e/gitcommit/issues{/number}","pulls_url":"https://api.github.com/repos/bad6e/gitcommit/pulls{/number}","milestones_url":"https://api.github.com/repos/bad6e/gitcommit/milestones{/number}","notifications_url":"https://api.github.com/repos/bad6e/gitcommit/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/bad6e/gitcommit/labels{/name}","releases_url":"https://api.github.com/repos/bad6e/gitcommit/releases{/id}","deployments_url":"https://api.github.com/repos/bad6e/gitcommit/deployments","created_at":"2015-10-06T21:40:00Z","updated_at":"2016-02-18T02:05:52Z","pushed_at":"2015-11-08T19:15:34Z","git_url":"git://github.com/bad6e/gitcommit.git","ssh_url":"git@github.com:bad6e/gitcommit.git","clone_url":"https://github.com/bad6e/gitcommit.git","svn_url":"https://github.com/bad6e/gitcommit","homepage":"https://gitcommit1507.herokuapp.com/","size":465,"stargazers_count":3,"watchers_count":3,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"open_issues_count":1,"forks":1,"open_issues":1,"watchers":3,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true}},{"id":42480290,"name":"enigma","full_name":"marlomajor/enigma","owner":{"login":"marlomajor","id":11453601,"avatar_url":"https://avatars.githubusercontent.com/u/11453601?v=3","gravatar_id":"","url":"https://api.github.com/users/marlomajor","html_url":"https://github.com/marlomajor","followers_url":"https://api.github.com/users/marlomajor/followers","following_url":"https://api.github.com/users/marlomajor/following{/other_user}","gists_url":"https://api.github.com/users/marlomajor/gists{/g[...]
